*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

body {
    width:100%;
    font-family: Roboto, 'Times New Roman', Times, serif;
    /* min-width: 600px;*/
}

/*div du burger menu */


section
{
    height:auto;
    margin: auto;
    width: 450px;
    background: rgb(243, 243, 243);
}

section div, h1 {
    margin-top: 16px;
    margin-bottom: 16px;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color:rgb(252, 252, 252);
}

form .labelAliment {
    width:200px;
    padding-left: 75px;
    display: inline-block;

}

form input {
    margin-left: 75px;
}

form .labelOui {
    margin-left: 16px;
}

form .sendForm {
    text-align: center;

}
.sendForm input {
    margin-left: 0px;
}



.pvr {
    display: block;
    width: 418px;
    height: 264px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 1em;
    border-bottom: solid 2px greenyellow;
}

.centrePadding {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom:40px;
    padding-top: 40px;
}

