* {
   box-sizing: border-box;
   margin:0px;
   padding:0px;
  }

  body {
      width:100%;
     /* min-width: 600px;*/
  }
/*css header par julien */
  /*div du burger menu */

  #div_burger_menu {
    width: 300px;
    height: 500px;
    border: solid 2px greenyellow;
    border-radius: 1em;
    box-shadow: 0px 0px 15px #333;
    background-color: white;
    position: absolute;
    top:50px;
    left: 0px;
    
    visibility: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #div_burger_menu h3 {
    border-bottom: solid 1px greenyellow;
  }

  #div_burger_menu li {
    margin-top:20px;
  }



  /*sytyle interne au menu burger */



  #vide {
    height:50px;
  }
  header {

      width:100%;
      height: auto;
      max-height:150px;
      background-position: center;
      background: linear-gradient(to right, rgba(255,255,255,0) 20%,  rgba(255,255,255,1) , rgba(255,255,255,0) 80% , rgba(255,255,255,1) 90% ), url("Images/fond_header_haut.jpg");
      display:flex;
      align-items:center;
      justify-content: space-around;
  }
  
  header div {
    width: 20%;
    height: auto;
    
    text-align: center;
    
  }

  .header_vide {
    width: 10px;
  }

.logo_header {
  max-width:80%;
  max-height: auto;
  min-width: 150px;
  min-height: auto;
}

#image_menuburger {
  height: 90px;
  width: 90px;
  opacity: 25%;
  margin-left:10px;
}

#header_user_info
{
  
  
  text-align: center;
  font-weight: bold;
  
}

#header_logo_username {
  height: 90px;
  width: auto;
}

.div_usr_infos {
  color: black;
  width: 100%;
  font-weight: bold;
  
}

/* fin css header par julien */

/* debut scetion baniere, laurent */
#calculco
 {
    border: solid 2px rgb(16, 2, 216);
    border-radius: 1em;
    box-shadow: 0px 0px 15px #333;
    height:auto;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px #333;
    text-align: center;
    border-radius: 1em;
    margin-bottom : 50px;
   }

  h1 {
      margin-top: 1em;
      margin-bottom: 1em;
      color:black;
      width: 100%;
      font-family: Georgia, 'Times New Roman', Times, serif;
      
}
  .button { 
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius:12px 0 12px 0;
    margin-left: auto;
    margin-right: auto;
    border-radius:12px 0 12px 0;
  }
  

  input[type=submit]:hover, input[type=reset]:hover {
    background-color:rgb(16, 2, 216);
    }

    input {
      display: inline;
      font: 1em sans-serif;
      width: 200px;
      height: 50px;
      border-radius: 1em;
      box-shadow:2px 2px 3px rgb(16, 2, 216);
      
    }


  /* fin SECTION BANIERE */

  /* Début de section CENTRALE par thierry */

.logo_left {
  width: 90px;
  height: auto;
  margin: 0;
  text-align: center;
  
}

.logo_center {
  width: 90px;
  height: auto;
  margin: 30px 0;
  text-align: center;
}

.logo_right {
  width: 90px;
  height: auto;
  margin: 30px 0;
  text-align: center;

}

p {
  font-size: 20px;
  text-align: center;
  text-justify:inter-word;
  margin-left:8px;
  margin-right:8px;
}

h1 {
  font-size: 23px;
  width: 100%;
  height: 20px;
  color: black;
  text-align: center;
}


.left_title {
  margin-bottom: 50px; 

}

.center_title {

}

.right_title {

}

#centrale_container {
  width: 100%;
  margin: auto;
}

.image_section_centrale {
  width: 100%;
  margin: auto;
  text-align: center;

}

.image_section_centrale img {
  width: 100%;
}

.bloc_left{
  width: 100%;
  text-align: center;
}

.bloc_center {
  width: 100%;
text-align: center;
}

.bloc_right {
  width: 100%;
  text-align: center;
}

.page_left {
  width: 100%;
}

.page_center {
  width: 100%;
}

.page_right {
  width: 100%;
}

/* Fin css section CENTRALE par thierry */

  /* debut css footer par Phil */
  footer{
    background-color: rgb(59, 56, 56);
    border: solid 2px greenyellow;
    border-radius: 1em;
    box-shadow: 0px 0px 15px #333;
    width: 100%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.contact{
    width: 100%;
}
.topbar
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
}

.topbar p{
    display: inline;
    margin-right: 20px;
    text-align: center;

}
.topbar a{
    color: white;
    text-decoration: none;
}

.topbar a:hover{
    background-image: url("Images/fond_header.png");
    border: solid 2px greenyellow;
    color: rgb(59, 56, 56);
    border-radius: 1em;
    box-shadow: 0px 0px 15px #333;
    font-size: 1.2em;
    padding: 3px 10px;
}
.address{
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 80px;
    font-size: 0.8em;
}
br{
  visibility: 1;
}
.left{
    margin-top: 100px;
    margin-left: 15px;    
}
.right{
    margin-top: 100px;
    margin-right: 15px;
}

/* fin section footer ,suite animation section footer */

@keyframes animation_logo{
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(5px);
    }
}

footer img:hover{
    animation: animation_logo 1s;
}
   
/* fin animation section footer */

  
    

/* media query grand ecran Thierry*/

@media screen and (min-width: 768px){

.header_vide {
  width: 25%;
}

#centrale_container {

  display: flex;
  width: 100%;
  margin: auto;
}

.bloc_left{
  margin: 10px;
  
}
 
.bloc_center {
  margin: 10px;
}

.bloc_right {
  margin: 10px;
}

.page_left {

}

.page_center {

  display: flex;
  flex-direction: column-reverse;

}

.page_right {

}

.article_left {
  margin-bottom: 60px;
}

.article_center {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

}

.article_right {
  display: flex;
  flex-direction: column;
}
.logo_left {
  width: 90px;
  height: auto;
  margin-bottom: 10px;
  text-align: center;
    
}

.logo_center {
  width: 90px;
  height: auto;
  margin: 30px 0;
  text-align: center;
}

.logo_right {
  width: 90px;
  height: auto;
  margin: 30px 0;
  text-align: center;

}

.article_section_centrale {
  
  text-align: center;
}

h1 {
  font-size: 23px;
  width: 100%;
  height: 20px;
  color: black;
  text-align: center;
}

.left_title {
  margin-bottom: 50px;

}

.center_title {
  margin-top: 0;
}

.right_title {

}
  
}
  
